## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import playmaker

## Obtaining the data

In [2]:
url = 'https://raw.githubusercontent.com/BIKRAM-SAHA/FinalYearProject/main/datasets/EPL_20_21.csv'
df = pd.read_csv(url)

## Examining the data

In [3]:
df.shape    #Shape of Dataframe

(532, 18)

In [4]:
df.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

In [5]:
list(df.columns.values)

['Name',
 'Club',
 'Nationality',
 'Position',
 'Age',
 'Matches',
 'Starts',
 'Mins',
 'Goals',
 'Assists',
 'Passes_Attempted',
 'Perc_Passes_Completed',
 'Penalty_Goals',
 'Penalty_Attempted',
 'xG',
 'xA',
 'Yellow_Cards',
 'Red_Cards']

In [6]:
#Generating additional passing data

df = df.assign(Accurate_Passes = df.Passes_Attempted * df.Perc_Passes_Completed)
df = df.assign(Inaccurate_Passes = df.Passes_Attempted * (100 - df.Perc_Passes_Completed))

In [7]:
list(df.columns.values)

['Name',
 'Club',
 'Nationality',
 'Position',
 'Age',
 'Matches',
 'Starts',
 'Mins',
 'Goals',
 'Assists',
 'Passes_Attempted',
 'Perc_Passes_Completed',
 'Penalty_Goals',
 'Penalty_Attempted',
 'xG',
 'xA',
 'Yellow_Cards',
 'Red_Cards',
 'Accurate_Passes',
 'Inaccurate_Passes']

In [8]:
df['Position'].unique()     #Looking at all unique combinations of positions present in the data

array(['MF,FW', 'GK', 'FW', 'DF', 'MF', 'FW,MF', 'FW,DF', 'DF,MF',
       'MF,DF', 'DF,FW'], dtype=object)

## Sorting into positions

In [9]:
defenders = df.loc[df.Position.str.contains("DF")]

In [10]:
defenders.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards,Accurate_Passes,Inaccurate_Passes
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0,141951.6,38648.4
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0,168895.0,29805.0
5,César Azpilicueta,Chelsea,ESP,DF,30,26,24,2188,1,2,2015,87.5,0,0,0.03,0.11,5,1,176312.5,25187.5
8,Thiago Silva,Chelsea,BRA,DF,35,23,23,1935,2,0,1871,93.5,0,0,0.05,0.02,5,1,174938.5,12161.5
9,Kurt Zouma,Chelsea,FRA,DF,25,24,22,2029,5,0,1720,91.9,0,0,0.08,0.00,3,0,158068.0,13932.0

In [11]:
defenders.shape

(218, 20)

In [12]:
midfielders = df.loc[df.Position.str.contains("MF")]

In [13]:
midfielders.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards,Accurate_Passes,Inaccurate_Passes
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0,154806.3,33293.7
6,N'Golo Kanté,Chelsea,FRA,MF,29,30,24,2146,0,2,1504,86.6,0,0,0.04,0.05,7,0,130246.4,20153.6
7,Jorginho,Chelsea,ITA,MF,28,28,23,2010,7,1,1739,89.5,7,9,0.31,0.09,2,0,155640.5,18259.5
10,Mateo Kovačić,Chelsea,CRO,MF,26,27,21,1815,0,1,1737,91.0,0,0,0.05,0.09,4,0,158067.0,15633.0
12,Christian Pulisic,Chelsea,USA,"FW,MF",21,27,18,1738,4,2,690,80.0,0,0,0.28,0.14,2,0,55200.0,13800.0

In [14]:
midfielders.shape

(219, 20)

In [15]:
forwards = df.loc[df.Position.str.contains("FW")]

In [16]:
forwards.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards,Accurate_Passes,Inaccurate_Passes
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0,154806.3,33293.7
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0,63767.2,18832.8
12,Christian Pulisic,Chelsea,USA,"FW,MF",21,27,18,1738,4,2,690,80.0,0,0,0.28,0.14,2,0,55200.0,13800.0
13,Kai Havertz,Chelsea,GER,"MF,FW",21,27,18,1520,4,3,765,86.1,0,0,0.37,0.09,2,0,65866.5,10633.5
15,Hakim Ziyech,Chelsea,MAR,"FW,MF",27,23,15,1172,2,3,734,74.7,0,0,0.15,0.28,3,0,54829.8,18570.2

In [17]:
forwards.shape

(176, 20)

In [18]:
goalkeepers = df.loc[df.Position.str.contains("GK")]

In [19]:
goalkeepers.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards,Accurate_Passes,Inaccurate_Passes
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.0,0.00,2,0,85192.2,15507.8
20,Kepa Arrizabalaga,Chelsea,ESP,GK,25,7,6,585,0,0,243,81.5,0,0,0.0,0.00,1,0,19804.5,4495.5
22,Willy Caballero,Chelsea,ARG,GK,38,1,1,90,0,0,26,92.3,0,0,0.0,0.00,0,0,2399.8,200.2
27,Ederson,Manchester City,BRA,GK,26,36,36,3240,0,1,1090,83.1,0,0,0.0,0.01,3,0,90579.0,18421.0
48,Scott Carson,Manchester City,ENG,GK,34,1,1,90,0,0,16,93.8,0,0,0.0,0.00,0,0,1500.8,99.2

In [20]:
goalkeepers.shape

(42, 20)

## Checking number of versatile players

In [21]:
df.loc[df.Position.str.contains("FW,DF")].shape

(6, 20)

In [22]:
df.loc[df.Position.str.contains("MF,FW")].shape

(36, 20)

In [23]:
df.loc[df.Position.str.contains("FW,MF")].shape

(47, 20)

In [24]:
df.loc[df.Position.str.contains("DF,MF")].shape

(15, 20)

In [25]:
df.loc[df.Position.str.contains("MF,DF")].shape

(13, 20)

In [26]:
df.loc[df.Position.str.contains("DF,FW")].shape

(6, 20)

## Performance scoring

In [27]:
playmaker.best_playmaker_score(midfielders)

                     Name                     Club  Playmaker_Score
51        Bruno Fernandes        Manchester United        22.799123
34        Kevin De Bruyne          Manchester City        16.944211
273         Jack Grealish              Aston Villa        13.833552
216         Jack Harrison             Leeds United        13.049105
220  Raphael Dias Belloli             Leeds United        13.034335
366     James Ward-Prowse              Southampton        12.569448
478       Matheus Pereira     West Bromwich Albion        12.206250
401           Pascal Groß                 Brighton        10.781225
39             Phil Foden          Manchester City        10.724216
33         İlkay Gündoğan          Manchester City        10.334663
141          Jarrod Bowen          West Ham United         9.908499
115        James Maddison           Leicester City         9.867634
0             Mason Mount                  Chelsea         9.650883
319            Pedro Neto  Wolverhampton Wanderers         9.404539
117         Harvey Barnes           Leicester City         9.298178
145         Jesse Lingard          West Ham United         9.107068
243      Gylfi Sigurðsson                  Everton         8.984932
345          Eberechi Eze           Crystal Palace         8.701496
398      Leandro Trossard                 Brighton         8.404596
109       Youri Tielemans           Leicester City         8.351609
                        Name                     Club Nationality Position  \
339          Patrick Cutrone  Wolverhampton Wanderers         ITA    FW,MF
284       Carney Chukwuemeka              Aston Villa         ENG    FW,MF
419           José Izquierdo                 Brighton         COL    DF,MF
417                Percy Tau                 Brighton         RSA    FW,MF
129             Cengiz Ünder           Leicester City         TUR    MF,FW
282          Conor Hourihane              Aston Villa         IRL       MF
34           Kevin De Bruyne          Manchester City         BEL       MF
498           Kamil Grosicki     West Bromwich Albion         POL    FW,MF
283             Keinan Davis              Aston Villa         ENG    FW,MF
26              Ross Barkley                  Chelsea         ENG       MF
51           Bruno Fernandes        Manchester United         POR       MF
104  Alex Oxlade-Chamberlain             Liverpool FC         ENG    FW,MF
46             Sergio Agüero          Manchester City         ARG    FW,MF
336            Owen Otasowie  Wolverhampton Wanderers         USA    MF,FW
285            Wesley Moraes              Aston Villa         BRA    MF,FW
39                Phil Foden          Manchester City         ENG    FW,MF
145            Jesse Lingard          West Ham United         ENG    MF,FW
273            Jack Grealish              Aston Villa         ENG    FW,MF
69                 Juan Mata        Manchester United         ESP    FW,MF
229          Pablo Hernández             Leeds United         ESP       MF

     Age  Matches  Playmaker_Score  Time_Weighted_Playmaker_Score
339   22        2         0.612983                      24.519323
284   16        2         0.294311                      14.715568
419   28        1         0.126053                      14.005874
417   26        3         1.423483                      13.820225
129   23        9         3.015091                      10.729862
282   29        4         2.279552                      10.131344
34    29       25        16.944211                       8.484833
498   32        3         1.193954                       8.067259
283   22       15         2.130021                       7.689608
26    26        2         0.317634                       7.562724
51    25       37        22.799123                       7.356929
104   26       13         1.838997                       7.268762
46    32       12         3.971919                       7.105401
336   19        6         1.314488                       7.029348
285   23        3         0.122703                       6.816811
39    20       28        10.724216                       6.636272
145   27       16         9.107068                       6.408915
273   24       26        13.833552                       6.331145
69    32        9         3.117326                       6.124412
229   35       16         2.610545                       6.113689